.cards-1
  .container
    .row
      .col-lg-12
        .card
          span.fa-stack
            span.hexagon
            i.fas.fa-binoculars.fa-stack-1x
          .card-body
            h4.card-title=quitrinh[0].ten
            p=quitrinh[0].congviec
        .card
          span.fa-stack
            span.hexagon
            i.fas.fa-list-alt.fa-stack-1x
          .card-body
            h4.card-title=quitrinh[1].ten
            p=quitrinh[1].congviec
        .card
          span.fa-stack
            span.hexagon
            i.fas.fa-chart-pie.fa-stack-1x
          .card-body
            h4.card-title=quitrinh[2].ten
            p=quitrinh[2].congviec
