h1(style='text-align:center') Profile user    
br
br      
if detailUser						
	img(style="margin-left:90px;border-radius:50%;position:absolute;width:230px;height:230px;image-rendering: unset;object-fit: fill;",src="http://localhost:3000/uploads/" + (detailUser.avata !== ""?detailUser.avata:"user.jfif"))
	p(style='margin-left:450px;')
		b Name :
		span &nbsp;
		span= detailUser.name
	p(style='margin-left:450px;')
		b Old :
		span &nbsp;
		span= detailUser.old
	p(style='margin-left:450px;')
		b Address :
		span &nbsp;
		span= detailUser.address
	p(style='margin-left:450px;')
		b Phone :
		span &nbsp;
		span= detailUser.phone
	p(style='margin-left:450px;')
		b Identity Card :
		span &nbsp;
		span= detailUser.identitycard
	// p
	// 	b Account Id :
	// 	span &nbsp;
	// 	span= detailUser.account_id	
	if accountuser	
		p(style='margin-left:450px;')
			b Email :
			span &nbsp;
			span= accountuser.email
		// p
		// 	b Password :
		// 	span &nbsp;
		// 	span= accountuser.password				