extends ../layouts/khungadmin.pug
block preloader
	include ../layouts/preloader.pug
block navbar
	include ../users/navbar.pug
block userList
	.col-md-5.col-sm-6.col-xs-12.row-container(style='margin-left:380px;')
		form(action="/users/editUser",method="POST",enctype='multipart/form-data')
			h1(style='margin-left:140px;') Edit user
			br
			br
			if detailUser 
				.from-group
					label(for="avatar") Avatar
					input#avatar.form-control-file(name="avatar",type="file")
				.form-group
					label(for='name') Name
					input#name.form-control(name="name",type='text',value=detailUser?detailUser.name:"")
				.form-group
					label(for='email') Email
					input#email.form-control(name="email",type='email',value=accountuser?accountuser.email:"")
				.form-group
					label.label(for='old') Old
					input#old.form-control(name="old",type='text',value=detailUser?detailUser.old:"")
				.form-group
					label.label(for='address') Address
					input#address.form-control(name="address",type='text',value=detailUser?detailUser.address:"")
				.form-group
					label.label(for='identitycard') Idetity Card
					input#identitycard.form-control(name="identitycard",type='text',value=detailUser?detailUser.identitycard:"")
				.form-group
					label.label(for='phone') Phone
					input#phone.form-control(name="phone",type='text',value=detailUser?detailUser.phone:"")
				.form-group(style='display:none;')
					label.label(for='phone') Userid
					input#userid.form-control(name="userid",type='text',value=detailUser?detailUser.account_id:"")
				button.btn.btn-success.btn-block.my-3 Save			