nav.navbar.navbar-expand-md.navbar-dark.navbar-custom
	form(action='/users/search', method='GET', class="d-flex",style='margin-top:17px;')
		input(class="form-control",type='text',name='q',value=key)
		button(class="btn btn-danger ml-2") Search
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-awesome.fas.fa-bars
		span.navbar-toggler-awesome.fas.fa-times
	#navbarsExampleDefault.collapse.navbar-collapse
		ul.navbar-nav.ml-auto
			if userAc
				li.nav-item
					a.nav-link.page-scroll(href='#',style='color:black;')= userAc.email
				li.nav-item
					a.nav-link.page-scroll(href='/logout',style='color:black;') Logout	
			//- span.nav-item.social-icons
			//- 	span.fa-stack
			//- 		a.lo(href='/logout',style='color:black;margin-left:8px;') Logout

table.table
	tr
		th Avata
		th Name
		th Old
		th Address
		th Actions

	each user in userList 
		tr
			td
				img(style="width:40px;height:40px;image-rendering: unset;object-fit: fill;",src="http://localhost:3000/"+(user.avata !== ""?user.avata:"uploads/user.jfif"))
			td(style="line-height:40px;")=user.name?user.name:user.account_id
			td(style="line-height:40px;")=user.old 
			td(style="line-height:40px;")=user.address?user.address:"-Change-"
			td
				a.btn.btn-info(href='/users/index/'+user.account_id) View
				span 
					a.btn.btn-success(href='/users/edit/'+user.account_id) Edit
				span 
					a.btn.btn-danger(href='/users/deleteUser/'+user.account_id) Delete	